@model FinalPrac.Models.Profile

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Profile Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.About)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.About)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfileImageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfileImageName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserCreated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
